.container {
  width: 70%;
  text-align: center;
  margin: auto;
}

.dice {
text-align: center;
display: inline-block;
}

.footer {
  padding: 10rem 0 2.5rem;
}

.title {
  padding: 3rem;
  font-family: 'Pacifico', cursive;
  font-size: 10rem;
  text-shadow: 5px 5px #232931;
  color: #e43f5a;
}

.roll {
  padding: 1rem;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  color: #FAF1D8;
  margin-bottom: 0
}

.playerTitle {
  padding: 1.5rem;
  font-family: 'Gochi Hand', cursive;
  font-size: 2.5rem;
  color: #e43f5a;
  margin-bottom: 0
}

.btn-outline-light {
  border-color: #FAF1D8;
}

.btn-outline-light:hover {
  background-color: #e43f5a;
  border-color: #FAF1D8;
}

.flag {
  width: 10%;
}

.icon {
  color: #FAF1D8;
  font-size: 2rem;
}

body {
  background-color: #1b1b2f;
}

img {
  width: 70%;
}
